{% extends 'base.html' %}
{% load static %}
{% block title %}Список книг{% endblock %}

{% block content %}
  <h2>Список книг</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Назва</th>
        <th scope="col">Автор</th>
        <th scope="col">Жанр</th>
        <th scope="col">Рік видавництва</th>
        <th scope="col">Статус</th>
        <th scope="col">Дії</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.genre }}</td>
          <td>{{ book.publication_year }}</td>
          <td>{{ book.read_status }}</td>
          <td>
            <a href="{% url 'library_app:view_book' book.id %}">Перегляд</a>
            <a href="{% url 'library_app:edit_book' book.id %}">Редагувати</a>
            <a href="{% url 'library_app:delete_book' book.id %}">Видалити</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'library_app:add_book' %}" class="btn btn-primary">Додати нову книгу</a>
{% endblock %}
