{% extends 'base.html' %}
{% load static %}
{% block title %}{{ book.title }} - Переглянути книгу{% endblock %}

{% block content %}
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h2><strong class="d-inline-block mb-2 text-primary-emphasis">{{ book.title }}</strong></h2>
          <p><strong>Автор:</strong><h3 class="mb-0">{{ book.author }}</h3></p>
            <p><strong>Жанр:</strong> {{ book.genre }}</p>
          <div class="mb-1 text-body-secondary"><p><strong>Рік видавництва:</strong>{{ book.release_year }}</p></div>
          <p><strong>Статус:</strong> <class="card-text mb-auto">{% if book.is_read %}Прочитана{% else %}Не прочитана{% endif %}</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          {% if book.img %}
            <img src="{{ book.img.url }}" alt="{{ book.title }}" width="250" height="350">
          {% else %}
          <img src="{% static 'assets/img/noname.png' %}" alt="{{ book.title }}" width="200" height="250">
          {% endif %}
          </div>
      </div>
    </div>
  </div>
  <div>
    <p></p>
  </div>
  <a href="{% url 'library_app:book_list' %}" class="btn btn-primary">Повернутись до списку книг</a>
  
{% endblock %}
