{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}" >
    <!-- Add your custom CSS here -->

    {% block extra_head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'library_app:book_list' %}">Web-Додаток "Бібліотека"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'library_app:book_list' %}">Книги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'library_app:author_list' %}">Автори</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'library_app:genre_list' %}">Жанри</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'library_app:statistics' %}">Статистика</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'library_app:stats' %}">Статистика_2</a>
            </li>
            <!-- Add more navigation items as needed -->
        </ul>
    </div>
</nav>
<!-- <img src="{% static 'py_img.png' %}" alt="My Python"> -->
<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<!-- Add your custom scripts here -->

{% block extra_scripts %}{% endblock %}
</body>
</html>
